
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defect Detection</title>
</head>
<body>
    <h1>Defect (Crack) Detection</h1>
    
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="image" id="image" onchange="show_preview(this)">
        <div id="preview"></div>
        <input type="submit" value="Upload" onclick="show_processing()">
    </form>

    {% if res %}
    <div name="result" id="result" style="margin-top: 30px; font-size:20px">
        {{res}}
    </div>
    {% else %}
    <div id="processing" style="margin-top: 30px; font-size:20px"></div>
    {% endif %}
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
show_processing = () => document.getElementById("processing").innerHTML = "Processing...";

show_preview = (input) =>{
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        img = document.createElement("img");
        img.width = 250;
        img.height = 250;
        img.src =  e.target.result;
        document.getElementById("preview").appendChild(img);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

upload_image = () =>{
    
}

</script>