
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defect Detection</title>
</head>
<body>
    <h1>Defect (Crack) Detection</h1>

    {% csrf_token %}
    <form>
        <input type="file" name="image" id="image" onchange="show_preview(this)">
        <div id="preview"></div>
        <input type="button" value="Upload" onclick="upload_image()">
    </form>

    <div id="processing" style="margin-top: 30px; font-size:20px"></div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
show_preview = (input) =>{
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        img = document.createElement("img");
        img.width = 250;
        img.height = 250;
        img.src =  e.target.result;
        document.getElementById("preview").innerHTML = "";
        document.getElementById("preview").appendChild(img);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

upload_image = () =>{
    document.getElementById("processing").innerHTML = "Processing...";
    //get csrf token
    csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    formdata = new FormData();
    image = document.getElementById("image").files[0]
    formdata.append("image",image);
    formdata.append("csrfmiddlewaretoken",csrftoken);
    $.ajax({
        url : "/",
        type : "POST",
        data : formdata,
        success : (data)=>{
            document.getElementById("processing").innerHTML = data.res;
        },
        error : (error)=>{
            document.getElementById("processing").innerHTML = "Server Error!";
        },
        processData: false,
        contentType: false
    })
}

</script>